<h1 style="text-align:center; font-size: 5em;">Lab: Pandas Basics</h1>

<hr style="border:2px solid">
<h1 style="text-align:center; font-size: 3em;">Workbook Overview</h1>
<hr style="border-top:1px dashed">
<ul>
        <li><a href="#anchorSetup">Lab Setup and Explanation</a></li> 
        <li><a href="#anchorDataset">Importing and Understanding The Data</a></li> 
        <li><a href="#anchorKey">Key Stats and Data Points</a></li> 
        <li><a href="#anchorSneakPeak">Sneak Peak</a></li> 
</ul>

<a name="anchorSetup" style="position:absolute;"></a>
<hr style="border:2px solid">

## Lab Setup and Explanation
<hr style="border-top:1px dashed">
Welcome to the Pandas Lab!! Now that we've learned about Pandas let's test your knowledge. We'll start off with a few simple tasks, and then you'll be asked some more complicated questions. 

There will be several sections that you can navigate to using the links in the Workbook Overview above this box. In each section, you will have several tasks to complete. Tasks are easily identifiable by their yellow boxes.

# Task 0: Import Pandas

In [1]:
import pandas as pd

You are welcome to make as many extra code cells as you would like, just remember to clean up your notebook before submitting your work. 

The easier your work is to check, the more we can focus on giving feedback instead of hunting down answers.

With that being said, we hope you have fun with this lab!~

<a name="anchorndArray" style="position:absolute;"></a>
<hr style="border:2px solid">

## Section 1: Importing and Understanding The Data
<hr style="border-top:1px dashed">

Before we jump into calculating statistics, let's get a feel for the data first. We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!

# Task 1: Store the data from the file Salaries.csv as a dataframe called sal.

In [3]:
sal = pd.read_csv('Salaries.csv')

# Task 2: Display the dataframe first 5 rows using .head()

In [5]:
sal.head(3)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN

# Task 3: How many entries in total there are?

In [8]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [ ]:
100 > 99 # True
'100' > '99' # False

In [7]:
sal.count()

Id                  148654
EmployeeName        148654
JobTitle            148654
BasePay             148045
OvertimePay         148650
OtherPay            148650
Benefits            112491
TotalPay            148654
TotalPayBenefits    148654
Year                148654
Notes                    0
Agency              148654
Status                   0
dtype: int64

In [6]:
sal.apply(len)

Id                  148654
EmployeeName        148654
JobTitle            148654
BasePay             148654
OvertimePay         148654
OtherPay            148654
Benefits            148654
TotalPay            148654
TotalPayBenefits    148654
Year                148654
Notes               148654
Agency              148654
Status              148654
dtype: int64

In [11]:
sal.shape

(148654, 13)

<a name="anchorndKey" style="position:absolute;"></a>
<hr style="border:2px solid">

## Section 2: Key Stats and Data Points
<hr style="border-top:1px dashed">

# Task 4: What is the average BasePay?

In [12]:
sal['BasePay'].mean()

66325.44884050643

# Task 5: What is the highest amount of OvertimePay in the dataset?

In [13]:
sal['OvertimePay'].max()

245131.88

# Task 6: What is the job title of JOSEPH DRISCOLL?
    Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [19]:
sal.query('Year == 2011')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36154,36155,SERENA HUGHES,SWIMMING INSTRUCTOR/POOL LIFEGUARD,0.00,0.00,4.17,NaN,4.17,4.17,2011,NaN,San Francisco,NaN
36155,36156,JOE BROWN JR,TRANSIT OPERATOR,0.00,0.00,0.30,NaN,0.30,0.30,2011,NaN,San Francisco,NaN
36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.00,0.00,0.00,NaN,0.00,0.00,2011,NaN,San Francisco,NaN
36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.00,0.00,0.00,NaN,0.00,0.00,2011,NaN,San Francisco,NaN
36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.00,0.00,0.00,NaN,0.00,0.00,2011,NaN,San Francisco,NaN

In [17]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL'] # Also an acceptable answer

sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

# Task 7: How much does JOSEPH DRISCOLL make (including benefits)?

In [38]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'][24]

270324.91

# Task 8: What is the name of highest paid person (including benefits)?

In [27]:
max_value = sal['TotalPayBenefits'].max()
max_value

567595.43

In [30]:
sal[sal['TotalPayBenefits'] == max_value]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [35]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName'][0]

'NATHANIEL FORD'

# Task 9: What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [50]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()][['EmployeeName','TotalPay', 'TotalPayBenefits']]

       EmployeeName  TotalPay  TotalPayBenefits
148653    Joe Lopez   -618.13           -618.13

# Task 10: What was the average (mean) BasePay of all employees for each year?

In [53]:
# Can either be solved manually, using a loop, or a groupby
# sal['Year'].nunique()
sal['Year'].value_counts()

2014    38123
2013    37606
2012    36766
2011    36159
Name: Year, dtype: int64

In [62]:
sal[sal['Year'] == 2011]['BasePay'].mean()
sal[sal['Year'] == 2012]['BasePay'].mean()
sal[sal['Year'] == 2013]['BasePay'].mean()
sal[sal['Year'] == 2014]['BasePay'].mean()

66564.42192449933

In [68]:
years = [2011, 2012, 2013, 2014]

for year in years:
    print(year, sal[sal['Year'] == year]['BasePay'].mean())

2011 63595.956516774524
2012 65436.40685742255
2013 69630.0302164812
2014 66564.42192449933

In [71]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [ ]:
grouped = sal.groupby('Year')
grouped['BasePay'].mean()
grouped['BasePay'].min()

In [72]:
sal[(sal['Year'] == 2011) | (sal['Year']==2013)].groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2013    69630.030216
Name: BasePay, dtype: float64

# Task 11: How many unique job titles are there?

In [73]:
sal['JobTitle'].nunique()

2159

# Task 12: What are the top 5 most common jobs?

In [80]:
sal['JobTitle'].value_counts().iloc[:5]
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

# Task 13: How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [81]:
# sal['Year']==2013 # Filter the Year
# sal[sal['Year']==2013] # Applying that filter to our DataFrame
# sal[sal['Year']==2013]['JobTitle'] # Indexing on our JobTitles
# sal[sal['Year']==2013]['JobTitle'].value_counts() # Seeing the total count of each occurance of job title
# sal[sal['Year']==2013]['JobTitle'].value_counts() == 1 # Filter those occurances down to where they only == 1
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1) # Sums all the occurances of "True" (+1)

202

In [82]:
year_filter = sal['Year']==2013 # Filter the Year
df_filtered = sal[year_filter] # Applying that filter to our DataFrame
job_titles = df_filtered['JobTitle'] # Indexing on our JobTitles
JT_counts = job_titles.value_counts() # Seeing the total count of each occurance of job title
single_jobs = JT_counts == 1 # Filter those occurances down to where they only == 1
sum(single_jobs) # Sums all the occurances of "True" (+1)

202

<a name="anchorSneakPeak" style="position:absolute;"></a>
<hr style="border:2px solid">

## Section 3: Sneak Peak -- Optional (Not Graded)
<hr style="border-top:1px dashed">
This section is for those who finished early. This section is a sneak peak for what is to come in the future. 

These are a bit tricky, don't worry about not getting these.

# Extra Task 14: Is there a correlation between length of the Job Title string and Salary?

In [83]:
sal['title_len'] = sal['JobTitle'].apply(len)
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN,9
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,12
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN,26

In [86]:
sal[['title_len', 'TotalPayBenefits']].corr().iloc[0,1]

-0.03687844593260901

# Extra Task 15: How many people have the word Chief in their job title? (This is pretty tricky)

In [ ]:
# 'CHIEF' - 200+ 'Chief' - 400+

In [ ]:
# SELECT *
# FROM DF
# WHERE JobTitle ILIKE '%chief%'

In [89]:
iterator = 0
counter = 0

while iterator < sal.shape[0]:
    if 'chief' in sal.iloc[iterator]['JobTitle'].lower():
        counter+=1
    iterator+=1
    
print(counter)

627

In [90]:
keyword = 'chief'
case_sens = False
contains_filter = sal.JobTitle.str.contains(keyword, case=False)

sal_filtered = sal[contains_filter]
sal_count = sal_filtered.count()

sal_count['JobTitle']

627

In [91]:
def chief_string(jobtitle):
    if 'chief' in jobtitle.lower():
        return True
    else:
        return False

In [96]:
sal[sal['JobTitle'].apply(chief_string)].count()

Id                  627
EmployeeName        627
JobTitle            627
BasePay             624
OvertimePay         627
OtherPay            627
Benefits            423
TotalPay            627
TotalPayBenefits    627
Year                627
Notes                 0
Agency              627
Status                0
title_len           627
dtype: int64

<hr style="border:2px solid">